.page{
    display: flex;
    flex-direction: column;
}

.product-details{
    display:flex;
    flex-direction:row;
    /* align-items:center; */
    padding:20px;
    max-width:1200px;
    margin:0 auto;
    gap: 80px;
    
}
product-details h1{
    font-size:2rem;
    color:#333;
}

.product-details p{
    font-size:1.2rem;
    color:#555;
    margin:10px 0;
}
.backbtn{
    height: 30px;
    width: 120px;
    padding:10px 15px;
    background-color:#007BFF;
    color:white;
    border:none;
    cursor:pointer;
    margin:20px;
}

.product-details button:hover{
    background-color:#0056b3;
}

.product-details img{
    height:500px;
    width:500px;
    border:2px solid black
}